aiohttp>=3.11.8
albumentations>=1.4.16
av
color-matcher
colour-science
comfyui-frontend-package==1.14.5
dill
einops
gradio
huggingface_hub
insightface==0.7.3
kornia>=0.7.1
matplotlib
mss
numba
numpy>=1.25.0
onnx>=1.14.0
opencv-python>=4.7.0.72
piexif
pillow>=10.3.0
pixeloe
psutil
pyyaml
rembg
safetensors>=0.4.2
scipy
sentencepiece
soundfile
spandrel
tokenizers>=0.13.3
torch
torchaudio
torchsde
torchvision
tqdm
transformers>=4.28.1
transparent-background
ultralytics
yarl>=1.18.0